@charset "utf-8";

/* main_banner css 시작*/
#main_banner {
    text-align: center;
    background: #f8f8f8;
    position: relative;
}

#main_banner img {
    width: 100%;
}

.main_txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    text-align: left;
}

.main_txt h2 {
    font-size: 4em;
    color: #393939;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.main_txt h3 {
    font-size: 1.5em;
    color: #898989;
    font-weight: 400;
    margin-bottom: 2em;
}

.main_btn {
    padding: 1.2em 0.5em;
    border-radius: 30px;
    width: 210px;
    outline: none;
    font-size: 1.2em;
    border: 1px solid #969696;
    background: #f8f8f8;
}


#section2,
#section3,
#section5 {
    position: relative;
    width: 63%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    margin-top: 8em;
    clear: both;
}

/* section2 css 시작*/
.ver_line {
    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background-color: #ccc;
}

#section2 .title {
    display: block;
    line-height: 45px;
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
}

#section2 .sub_title {
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    color: #777;
    font-weight: 200;
}

.more_btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.more_btn {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #000;
    border-radius: 28px;
    text-align: center;
    margin: 50px auto;
    font-size: 1.3em;
}

.pic_li_cont {
    margin-bottom: 100px;
}

.pic_li_cont li {
    width: 33.3%;
    float: left;
    margin: 100px 0 0;
    position: relative;
}

.pic_li_cont li a {
    text-align: center;
}

.pic_li_cont li a img {
    width: 100%;
    max-width: inherit;
    vertical-align: middle;
    margin-bottom: 2em;
}

.pic_li_cont li h4 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

.pic_li_cont li p {
    font-size: 1.2em;
    color: #888;
}

.img_hover {
    position: absolute;
    width: 100%;
    height: 392px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    top: 0;
    line-height: 392px;
    font-size: 2em;
    font-weight: 700;
}

/* section3 css시작 */
#section3 .title,#section5 .title {
    display: block;
    line-height: 45px;
    font-size: 2em;
    text-align: left;
    margin-top: 3em;
}

#section3 .sub_title,#section5 .sub_title {
    text-align: left;
    margin: 0 auto;
    font-size: 1.2em;
    color: #777;
    font-weight: 200;
}

.swiper-container {
    margin: 8em 0;
}

.swiper-slide {
    background: #ededed;
    text-align: center;

}

.swiper-slide img {
    width: 100%;
    max-width: inherit;
    vertical-align: middle;

}

/* section4 css 시작*/
#section4 {
    width: 100%;
    margin-bottom: 7em;
}

#section4 img {
    width: 100%;
}

/* section5 css 시작 */
